<ion-view view-title="全部文章">
  <ion-content class="has-footer">
    <div ng-repeat="list in article_list2 "> 
      <div class="list card"> 
        <div class="item item-avatar">
            <img src="http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-d2a33eae-5215-48c2-869c-60ae8922c7e8-20150412_001842000_iOS.jpg">
            <h2 class="title">{{list.title}}</h2>
            <p>{{list.createdAt| limitTo:10}}</p>
          </div>
        <div class="item item-body">
            
            <div  class="hiddenOverFlow" ng-bind-html="trustAsHtml(list.article)" >
          </div>
         </div>
         <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" ng-click="show2(list.objectId)">
              <i class="icon ion-share"></i>
              Share
            </a>
            <a class="tab-item" href="#/app/read_article/{{list.objectId}}">
              <i class="icon ion-ios-glasses-outline"></i>
              Read
            </a>
         </div>
       </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-light">
  	<div class="title">JHL©2015</div>
  </div>
</ion-view>